@import url("./bootstrapOverrides/index.css");
@import url("./robotoFonts.css");

:root {
  --sidebar__tab-item_leftPadding: 32px;
}

body {
  font-family: "Roboto";
  min-height: 100vh;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1a1f29;
  margin: 0;
  display: flex;
  flex-direction: column;
}

strong,
b {
  font-weight: 500 !important;
}

.navbar-head {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #005e6d;
  color: #ffffff;
  padding-left: 1.11%;
  padding-right: 1.11%;
}

.navbar-head__logo {
  height: 48px;
  flex-grow: 1;
}

.navbar-head__right-nav {
  display: flex;
  align-items: center;
}
.navbar-head__right-nav a {
  cursor: pointer;
}

.navbar-head__right-nav .greeting {
  font-size: 14px;
  line-height: 16px;
  margin-right: 19px;
}

.main-wrapper {
  height: calc(100vh - 64px);
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 380px;
  padding-top: 10px;
  border-right: solid 1px #d6d6d6;
}

.sidebar__tab__tab-link {
  display: flex;
  align-items: center;
  height: 52px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 22px;
  border-bottom: solid 1px #dddddd;
  line-height: 19px;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.sidebar__tab__tab-link::after {
  margin-left: auto;
  padding-left: 22px;
}

.sidebar__tab__tab-link[aria-expanded="false"]::after {
  content: url("../assets/vector/VectorDown.svg");
}

.sidebar__tab__tab-link[aria-expanded="true"]::after {
  content: url("../assets/vector/VectorUp.svg");
}

.sidebar__tab__tab-content .list-group .list-group-item {
  border-radius: 0;
  border: none;
  margin: 0;
  border-bottom: solid 1px #dddddd;
  line-height: 16px;
  font-size: 14px;
  padding-left: var(--sidebar__tab-item_leftPadding);
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.sidebar__tab__tab-content .list-group .list-group-item:hover {
  background-color: rgba(0, 94, 109, 0.08);
}

.sidebar__tab__tab-content .list-group .list-group-item:active,
.sidebar__tab__tab-content .list-group .list-group-item.active-tab {
  background-color: rgba(0, 94, 109, 0.16);
  padding-left: calc(var(--sidebar__tab-item_leftPadding) - 4px);
  border-left: 4px solid #005e6d;
}

.sidebar__tab__tab-content.show {
  flex-grow: 1;
}

.sidebar__tab-item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-wrapper {
  overflow: auto;
  flex-grow: 1;
}

.content {
  padding: 22px 16px;
  flex-grow: 1;
  max-width: 712px;
}

.form-container .title {
  color: #000000;
  margin-bottom: 20px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.form-container .form-name {
  height: 24px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 24px;
}

#error {
  height: 104px;
  background: rgba(255, 87, 34, 0.1);
  border: 1px solid #ff5722;
  box-sizing: border-box;
  border-radius: 2px;
  color: #000000;
}

.error-header {
  padding: 16px 16px 0 17px;
  display: flex;
  align-items: center;
}

.error-header__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-left: 9px;
}

#error-text {
  padding: 16px;
}
